RewriteEngine on
# Enable to pass authorization headers from fastCGI to php if server is not setup already
# RewriteCond %{HTTP:Authorization} ^(.+)$
# RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]